{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">

        {% if ingredients.items is not empty %}
        <h1>Mes ingrédients</h1>

            <a href="{{ path('ingredient.new') }}" class="btn btn-primary">
                Créer un ingrédient
            </a>

            {# read and display just one flash message type #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-dismissible alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}
        {# total items count #}
        <div class="count mt-4">
            <p class="text-primary">Il y a {{ ingredients.getTotalItemCount }} ingrédients au total</p>
        </div>

        <table class="table table-hover mt-4">
            <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                <th scope="col">Edition</th>
                <th scope="col">Supression</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr class="table-primary">
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.createdAt | date("m/d/Y") }}</td>
                    <td>
                        <a href="{{ path('ingredient.edit', {id : ingredient.id}) }}"  class="btn btn-info" > <i class="fa-solid fa-pen-to-square" ></i>  Modifier</a>
                    </td>
                    <td>
                        <a href="{{ path('ingredient.delete', {id : ingredient.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr?')"> <i class="fa-solid fa-trash"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
        <h4>Il n'y a pas d'ingrédients </h4>
        {% endif %}
    </div>

{% endblock %}
